.cart-cnt {
  background-color: #e9ebeb;
  min-height: 100vh;
  padding-top: 2rem;
}

.total-price {
  margin: 0 auto;
  text-align: right;
  font-size: 1.4rem;
}

.empty-cart {
  text-align: center;
  margin-top: 4rem;
}

